<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Lista de Estudiantes</h2>
    </div>
    <div *ngFor="let estudiante of estudiantes">
      <ul class="list-group">
        <li
          class="list-group-item"
          [ngClass]="estudiante.nota < 6 ? 'noPasa' : 'pasa'"
        >
          <p>
            {{ estudiante.nombre }} del curso {{ estudiante.curso }} tuvo una
            nota de {{ estudiante.nota }}
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div>Actualizada a la fecha {{ fecha | date }}</div>
  </div>
</div>
